//Archives
@import url('../assets/fonts/kg-life-is-a-messy/stylesheet.css');
@import url('../assets/fonts/proxima-nova/stylesheet.css');

//Fonts
$default-font: 'KG Life is Messy';
$second-font-lt: 'Proxima Nova Lt';
$second-font-rg: 'Proxima Nova Rg';
$second-font-bl: 'Proxima Nova Bl';

//Colors
$turquoise: #00AEAE;
$yellow: #FCC83F;
$pink: #EE7380;
$purple: #3D5296;
$green: #A2D093;