.contact {
    background-color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1024px;
    position: relative;
    // padding: 128px;
    &::before {
        content: " ";
        width: 120%;
        height: 256px;
        background-image: url('../assets/img/pink-divider.svg');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: -128px;
        z-index: 0;
        @include mobile {
            width: 100%;
            height: 160px;
        }
    }
    &::after {
        content: " ";
        width: 120%;
        height: 256px;
        background-image: url('../assets/img/turquoise-divider.svg');
        background-size: cover;
        background-position: center;
        position: absolute;
        bottom: -128px;
        z-index: 0;
        @include mobile {
            width: 100%;
            height: 160px;
        }
    }

    @include mobile {
        height: auto;
        padding: 64px 0;
        font-size: 16px;
        text-align: center;
    }

    .container-ps {
        width: 75%;
    }

    .title {
        text-align: center;
    }

    label {
        color: $turquoise;
        font-size: 20px;
        @include mobile {
            font-size: 16px;
            text-align: left;
            width: 100%;
            margin-bottom: 0;
        }
    }

    form {
        @include mobile {
            margin-top: 32px;
        }
    }

    .form-control {
        border: none;
        border-bottom: 2px solid $turquoise;
        border-radius: 0;
        background: transparent;
        height: 48px;
        font-family: $second-font-rg;
        &:focus {
            background: transparent;
            outline: none !important;
        }
        &::placeholder {
            color: #d19500;
        }
        @include mobile {       
            height: 32px;
            font-family: "Proxima Nova Rg";
        }
    }

    h1 {
        color: $turquoise;
    }

    h3 {
        color: $pink;
    }

    .btn-default {
        border: none;
        background-color: $pink;
        color: #fff;
        &:hover {
            color: $yellow;
            background-color: $purple;
        }
    }

    .jumping {
        display: flex;
        list-style: none;
        padding: 0;
        align-items: center;
        .text {
            z-index: 10 !important;
        }
        .jump {
            top: -8% !important;
        }
    }

    .left-side {
        @include mobile {
            display: none;
        }
    }
}